<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add User</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-4">
        <h1 class="mb-3">采集新数据</h1>
        <form action="/add" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="name" class="form-label">姓名：</label>
                <input type="text" id="name" name="name" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="gender" class="form-label">性别：</label>
                <input type="text" id="gender" name="gender" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="sizhen" class="form-label">临床四诊：</label>
                <textarea id="sizhen" name="sizhen" class="form-control" rows="3" required></textarea>
            </div>
            <div class="mb-3">
                <label for="tizhi" class="form-label">中医体质辨识：</label>
                <textarea id="tizhi" name="tizhi" class="form-control" rows="3" required></textarea>
            </div>
            <div class="mb-3">
                <label for="ruoci_files" class="form-label">上传人体弱磁感应文件：</label>
                <input type="file" id="ruoci_files" name="ruoci_files" class="form-control" multiple>
            </div>
            <div class="mb-3">
                <label for="maizhen_files" class="form-label">上传脉诊文件：</label>
                <input type="file" id="maizhen_files" name="maizhen_files" class="form-control" multiple>
            </div>
            <div class="mb-3">
                <label for="shezhen_files" class="form-label">上传舌诊文件：</label>
                <input type="file" id="shezhen_files" name="shezhen_files" class="form-control" multiple required>
            </div>
            <div class="mb-3">
                <label for="hongwai_files" class="form-label">上传红外线热成像文件：</label>
                <input type="file" id="hongwai_files" name="hongwai_files" class="form-control" multiple>
            </div>
            <div class="mb-3">
                <label for="junqun_files" class="form-label">上传阴道分泌物菌群文件：</label>
                <input type="file" id="junqun_files" name="junqun_files" class="form-control" multiple required>
            </div>
            <div class="mb-3">
                <label for="daixie_files" class="form-label">上传阴道分泌物代谢组学文件：</label>
                <input type="file" id="daixie_files" name="daixie_files" class="form-control" multiple>
            </div>
            <div class="mb-3">
                <label for="vaginoscope_files" class="form-label">上传阴道镜文件：</label>
                <input type="file" id="vaginoscope_files" name="vaginoscope_files" class="form-control" multiple>
            </div>
            <div class="mb-3">
                <label for="bingbian_files" class="form-label">上传宫颈病变组织转录组学文件：</label>
                <input type="file" id="bingbian_files" name="bingbian_files" class="form-control" multiple>
            </div>
            <button type="submit" class="btn btn-primary">添加数据</button>
        </form>
        <a href="/" class="btn btn-secondary mt-2">回到数据列表</a>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            const textareas = document.querySelectorAll('textarea');
            
            textareas.forEach(textarea => {
                textarea.style.height = textarea.scrollHeight + 'px';
                
                textarea.addEventListener('input', (event) => {
                    event.target.style.height = 'auto';
                    event.target.style.height = event.target.scrollHeight + 'px';
                });
            });
        });
    </script>
</body>
</html>
