<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>编辑数据</title>
    <!-- 引入Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-4">
        <h1 class="mb-3">编辑数据</h1>
        <form action="/edit/{{ user.id }}" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="name" class="form-label">姓名：</label>
                <input type="text" id="name" name="name" value="{{ user.name }}" required class="form-control">
            </div>
            <div class="mb-3">
                <label for="gender" class="form-label">性别：</label>
                <input type="text" id="gender" name="gender" value="{{ user.gender }}" required class="form-control">
            </div>
            <div class="mb-3">
                <label for="sizhen" class="form-label">临床四诊：</label>
                <textarea id="sizhen" name="sizhen" rows="3" required class="form-control">{{ user.sizhen }}</textarea>
            </div>
            <div class="mb-3">
                <label for="tizhi" class="form-label">中医体质辨识：</label>
                <textarea id="tizhi" name="tizhi" rows="3" required class="form-control">{{ user.tizhi }}</textarea>
            </div>
            <div class="mb-3">
                <div class="uploaded-files">
                    <p>已上传的人体弱磁感应文件：</p>
                    <span class="file-links">
                        {% for file in user.files %}
                            {% if 'ruoci_files' in file.filetype %}
                                <a href="{{ url_for('static', filename='uploads/' + user.id|string + '/' + file.filename) }}">{{ file.filename }}</a>
                            {% endif %}
                        {% endfor %}
                    </span>
                    <p>
                    <label for="ruoci_files" class="form-label" style="display: none;">更新舌诊文件：</label>
                    <input type="file" id="ruoci_files" name="files" class="form-control" multiple>
                    <input type="hidden" name="filetypes" value="ruoci_files">
                    </p>
                </div>
            </div>

            <div class="mb-3">
                <div class="uploaded-files">
                    <p>已上传的脉诊文件：</p>
                    <span class="file-links">
                        {% for file in user.files %}
                            {% if 'maizhen_files' in file.filetype %}
                                <a href="{{ url_for('static', filename='uploads/' + user.id|string + '/' + file.filename) }}">{{ file.filename }}</a>
                            {% endif %}
                        {% endfor %}
                    </span>
                    <p>
                    <label for="maizhen_files" class="form-label" style="display: none;">更新舌诊文件：</label>
                    <input type="file" id="maizhen_files" name="files" class="form-control" multiple>
                    <input type="hidden" name="filetypes" value="maizhen_files">
                    </p>
                </div>
            </div>

            <div class="mb-3">
                <div class="uploaded-files">
                    <p>已上传的舌诊文件：</p>
                    <span class="file-links">
                        {% for file in user.files %}
                            {% if 'shezhen_files' in file.filetype %}
                                <a href="{{ url_for('static', filename='uploads/' + user.id|string + '/' + file.filename) }}">{{ file.filename }}</a>
                            {% endif %}
                        {% endfor %}
                    </span>
                    <p>
                    <label for="shezhen_files" class="form-label" style="display: none;">更新舌诊文件：</label>
                    <input type="file" id="shezhen_files" name="files" class="form-control" multiple>
                    <input type="hidden" name="filetypes" value="shezhen_files">
                    </p>
                    <!-- <input type="file" id="shezhen_files" name="files" class="form-control" multiple style="display: none;">
                    <input type="hidden" name="filetypes" value="shezhen_files">
                    <button type="button" class="button" onclick="triggerFileInput('shezhen_files')">
                      <svg class="svgIcon" viewBox="0 0 384 512">
                        <path
                          d="M214.6 41.4c-12.5-12.5-32.8-12.5-45.3 0l-160 160c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 141.2V448c0 17.7 14.3 32 32 32s32-14.3 32-32V141.2L329.4 246.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3l-160-160z"
                        ></path>
                      </svg>
                    </button> -->
                </div>
            </div>

            <div class="mb-3">
                <div class="uploaded-files">
                    <p>已上传的红外热成像文件：</p>
                    <span class="file-links">
                        {% for file in user.files %}
                            {% if 'hongwai_files' in file.filetype %}
                                <a href="{{ url_for('static', filename='uploads/' + user.id|string + '/' + file.filename) }}">{{ file.filename }}</a>
                            {% endif %}
                        {% endfor %}
                    </span>
                    <p>
                    <label for="hongwai_files" class="form-label" style="display: none;">更新舌诊文件：</label>
                    <input type="file" id="hongwai_files" name="files" class="form-control" multiple>
                    <input type="hidden" name="filetypes" value="hongwai_files">
                    </p>
                </div>
            </div>

            <div class="mb-3">
                <div class="uploaded-files">
                    <p>已上传的阴道分泌物菌群文件：</p>
                    <span class="file-links">
                        {% for file in user.files %}
                            {% if 'junqun_files' in file.filetype %}
                                <a href="{{ url_for('static', filename='uploads/' + user.id|string + '/' + file.filename) }}">{{ file.filename }}</a>
                            {% endif %}
                        {% endfor %}
                    </span>
                    <p>
                    <label for="junqun_files" class="form-label" style="display: none;">更新舌诊文件：</label>
                    <input type="file" id="junqun_files" name="files" class="form-control" multiple>
                    <input type="hidden" name="filetypes" value="junqun_files">
                    </p>
                </div>
            </div>

            <div class="mb-3">
                <div class="uploaded-files">
                    <p>已上传的阴道分泌物代谢组学文件：</p>
                    <span class="file-links">
                        {% for file in user.files %}
                            {% if 'daixie_files' in file.filetype %}
                                <a href="{{ url_for('static', filename='uploads/' + user.id|string + '/' + file.filename) }}">{{ file.filename }}</a>
                            {% endif %}
                        {% endfor %}
                    </span>
                    <p>
                    <label for="daixie_files" class="form-label" style="display: none;">更新舌诊文件：</label>
                    <input type="file" id="daixie_files" name="files" class="form-control" multiple>
                    <input type="hidden" name="filetypes" value="daixie_files">
                    </p>
                </div>
            </div>

            <div class="mb-3">
                <div class="uploaded-files">
                    <p>已上传的阴道镜文件：</p>
                    <span class="file-links">
                        {% for file in user.files %}
                            {% if 'vaginoscope_files' in file.filetype %}
                                <a href="{{ url_for('static', filename='uploads/' + user.id|string + '/' + file.filename) }}">{{ file.filename }}</a>
                            {% endif %}
                        {% endfor %}
                    </span>
                    <p>
                        <label for="vaginoscope_files" class="form-label" style="display: none;">更新阴道镜文件：</label>
                        <input type="file" id="vaginoscope_files" name="files" class="form-control" multiple>
                        <input type="hidden" name="filetypes" value="vaginoscope_files">
                    </p>
                    <!-- <label for="vaginoscope_files" class="form-label" style="display: none;">更新阴道镜文件：</label>
                    <input type="file" id="vaginoscope_files" name="files" class="form-control" multiple style="display: none;">
                    <input type="hidden" name="filetypes" value="vaginoscope_files">
                    <button type="button" class="button" onclick="triggerFileInput('vaginoscope_files')">
                        <svg class="svgIcon" viewBox="0 0 384 512">
                        <path
                            d="M214.6 41.4c-12.5-12.5-32.8-12.5-45.3 0l-160 160c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 141.2V448c0 17.7 14.3 32 32 32s32-14.3 32-32V141.2L329.4 246.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3l-160-160z"
                        ></path>
                        </svg>
                    </button> -->
                </div>
            </div>

            <div class="mb-3">
                <div class="uploaded-files">
                    <p>已上传的宫颈病变组织转录组学文件：</p>
                    <span class="file-links">
                        {% for file in user.files %}
                            {% if 'bingbian_files' in file.filetype %}
                                <a href="{{ url_for('static', filename='uploads/' + user.id|string + '/' + file.filename) }}">{{ file.filename }}</a>
                            {% endif %}
                        {% endfor %}
                    </span>
                    <p>
                    <label for="bingbian_files" class="form-label" style="display: none;">更新舌诊文件：</label>
                    <input type="file" id="bingbian_files" name="files" class="form-control" multiple>
                    <input type="hidden" name="filetypes" value="bingbian_files">
                    </p>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">更新数据</button>
        </form>
        <a href="/" class="btn btn-secondary mt-3">回到数据列表</a>
    </div>
    <!-- 引入Bootstrap JS 和 Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            const textareas = document.querySelectorAll('textarea');
            
            textareas.forEach(textarea => {
                textarea.style.height = textarea.scrollHeight + 'px';
                
                textarea.addEventListener('input', (event) => {
                    event.target.style.height = 'auto'; // Reset the height
                    event.target.style.height = event.target.scrollHeight + 'px'; // Set it to the scroll height
                });
            });
        });
        </script>
</body>
</html>
